<div class="bgImg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div>
            <a class="navbar-brand ml-2" href="#" data-toggle="modal" data-target="#exampleModal">
                <!-- <img src="https://www.godigit.com/etc/designs/godigit/images/fav.ico" alt="digit" height="40px"> -->
                UGT
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active mr-4">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-4">
                    <a class="nav-link">Aboutus</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="contentImg text-center text-white">
        <h1>Welcome to UGT Group</h1>
        <p>None of us is as smart as all of us.</p>
        <button class="btn btn-warning text-white" (click)="Subscribe()">SUBSCRIBE</button>
    </div>
</div>
<hr>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UGT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Alone we can do so little; together we can do so much.
                    </li>
                    <li>
                        Talent wins games, but teamwork and intelligence win championships.
                    </li>
                    <li>
                        Teamwork begins by building trust. And the only way to do that is to overcome our need for
                        invulnerability.
                    </li>
                    <li>
                        It is literally true that you can succeed best and quickest by helping others to succeed.
                    </li>
                    <li>
                        If you want to lift yourself up, lift up someone else.
                    </li>
                    <li>
                        None of us, including me, ever do great things. But we can all do small things, with great love,
                        and together we can do something wonderful.
                    </li>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12 gif">
                        <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/gif/balloon.gif" alt="ballon"
                            width="70%">
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="aboutuscontent" id="aboutUS">
    <div class="container">
        <div class="text-center mb-4">
            <h3><u class="aboutus">Know More About Us</u></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic5.jpg" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sudalai T</h5>
                        <p class="card-text text-center">
                            Database Management
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic.png" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mahmadmustafa M Kaladagi</h5>
                        <p class="card-text text-center">
                            UI developer at Godigit
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic3.jpg" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Abhin.K.S</h5>
                        <p class="card-text text-center">
                            Java Developer at Godigit
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic4.jpg" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Rakshith.V</h5>
                        <p class="card-text text-center">
                            Database Management
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic7.jpg" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Jewel Anet Chacko</h5>
                        <p class="card-text text-center">
                            UI Developer at Godigit
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic2.jpg" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Yuvaraj.S</h5>
                        <p class="card-text text-center">
                            UI developer at Godigit
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="assets\images\mypic6.jpg" class="card-img-top" alt="mypics">
                    <div class="card-body">
                        <h5 class="card-title text-center">Selvakumar</h5>
                        <p class="card-text text-center">
                            Python Developer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- //////////////////footer///////////////////////// -->
<footer class="footer" id="footers">
    <div class="container bottom_border"> </div>
    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Services</a></li>
            <li><a>Pricing</a></li>
            <li><a>Blog</a></li>
            <li><a>Contact</a></li>
        </ul>
        <p class="text-center">Copyright @2020 | Designed by <span class="text-white">@Mahmadmustafa MK</span></p>
    </div>
</footer>